#nav {

position: absolute;
width: 1440px;
height: 94px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);

}

#banner {
position: absolute;
width: 1440px;
height: 375px;
left: 0px;
top: 95px;
background: #ADDE87;
}

#vector {
position: absolute;
width: 19.81px;
height: 18.94px;
left: 69px;
top: 38.03px;
background: #161616;
}

#boximg {
position: absolute;
width: 303px;
height: 303px;
left: 70px;
top: 612px;
border-radius: 5px;
}


#footer {
position: absolute;
width: 1446px;
height: 348px;
left: -6px;
top: 2037px;
background: #F9F9F9;
}

#produtos {
position: absolute;
width: 254px;
height: 93.78px;
left: 22px;
top: 361px;
font-family: Lato;
font-style: normal;
font-weight: 800;
font-size: 78.1538px;
line-height: 94px;
letter-spacing: 0.3em;
border: 3.90769px solid rgba(255, 255, 255, 0.1);
}